body {
    font: 16px Arial;
}
#mapid {
    height: 750px;
    width: 1024px;
    display: inline-block;
}

#rightside {
    display: inline-block;
    width: 300px;
}

#instructions {
    font-size: 10px;
}

#news {
    height: 60px;
}

#months {
    width: 280px;
    height: 400px;
    overflow: auto;
    border: 1px solid #ccc;
}

#months-table {
    display: table;
}

.month {
    text-decoration: none;
    color: #000;
    display: table-row;
    background-color: #bbb;
}

.month-cell {
    border-bottom: 3px solid white;
    display: table-cell;
    padding: 5px;
}

/*
.leaflet-container {
    background-color: #AADAFF;
}
*/
